In [6]:
!pip install pandas

Collecting pandas
  Using cached pandas-1.4.1-cp310-cp310-win_amd64.whl (10.6 MB)
Requirement already satisfied: numpy>=1.21.0 in c:\python310\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.4.1

In [10]:
import pandas as pd

In [13]:
import numpy as np

In [14]:
import pandas as pd

In [15]:
import numpy as np

In [17]:
s1=pd.Series([1,2,3])

s1

In [18]:
s1

0    1
1    2
2    3
dtype: int64

In [1]:
s1=pd.Series([1,2,3].index[a,b,c,d])

NameError: name 'pd' is not defined

In [4]:
import pandas as pd

In [9]:
s1=pd.Series([1,2,3].index==['a','b','c'])

In [10]:
s1

0    False
dtype: bool

In [11]:
d = {'a': 1, 'b': 2, 'c': 3}

In [16]:
ser = pd.Series({'a': 1, 'b': 2, 'c': 3}, index=['a', 'b', 'c','d'])

In [17]:
ser

a    1.0
b    2.0
c    3.0
d    NaN
dtype: float64

In [21]:
ser=pd.DataFrame({"name":["srishti","Aarish"],"Marks":[10,20]})

In [22]:
ser

      name  Marks
0  srishti     10
1   Aarish     20